apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: public
    nginx.ingress.kubernetes.io/rewrite-target: /$1
    nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
  name: gitlab
  namespace: {{namespace}}
spec:
  rules:
  - host: {{domain}}
    http:
      paths:
      - path: "/gitlab/admin/sidekiq"
        pathType: Prefix
        backend:
          service:
            name: gitlab-webservice-default
            port:
              number: 8080
      - path: "/gitlab/?(.*)"
        pathType: Prefix
        backend:
          service:
            name: gitlab-webservice-default
            port:
              number: 8181