apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: selfsigned
  namespace: {{namespace}}
spec:
  dnsNames:
    - gitlab.{{domain}}
  secretName: gitlab-tls-secret
  issuerRef:
    name: selfsigned
    kind: Issuer
  commonName: gitlab.{{domain}}

---

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: public
    nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
  name: gitlab
  namespace: {{namespace}}
spec:
  tls:
    - hosts:
      - gitlab.{{domain}}
      secretName: gitlab-tls-secret
  rules:
  - host: gitlab.{{domain}}
    http:
      paths:
      - path: "/gitlab/admin/sidekiq"
        pathType: Prefix
        backend:
          service:
            name: gitlab-webservice-default
            port:
              number: 8080
      - path: "/"
        pathType: Prefix
        backend:
          service:
            name: gitlab-webservice-default
            port:
              number: 8181