global:
  common:
    operator:
      enabled: true
  edition: ee
  hosts:
    domain: {{domain}}
  ingress:
    configureCertmanager: false
    enabled: false
  gitlab:
  initialRootPassword:
    secret: root-credentials
    key: password
  smtp:
    enabled: true
    address: {{smtpServer}}
    port: 25
    authentication: ""
    openssl_verify_mode: "none"
    ssl: false
    force_ssl: false
    tls: false
    ca_file: ""
    starttls_auto: false
  email:
    from: "{{emailFrom}}"
    display_name: "{{emailDisplayName}}"
  time_zone: {{timeZone}}
  grafana:
    enabled: false

gitlab:
  gitaly:
    persistence:
      storageClass: microk8s-hostpath
  webservice:
    replicaCount: 1
  sidekiq:
    replicas: 1

postgresql:
  persistence:
    storageClass: microk8s-hostpath

minio:
  persistence:
    storageClass: microk8s-hostpath

redis:
  master:
    persistence:
      storageClass: microk8s-hostpath

certmanager:
  install: false

nginx-ingress:
  enabled: false

prometheus:
  install: false

registry:
  enabled: false

gitlab-runner:
  certsSecretName: gitlab-tls-secret
